.headline {
  padding: 25px 0;
  border-bottom: white 1px solid;
  text-align: center;
}

.mainWrapper {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 50px 25px;
  border: red solid 1px;
  gap: 75px;
}
