.card {
  position: relative;
  display: flex;
  width: 250px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 1px solid rgb(1 65 255);
  border-radius: var(--border-radius);
  color: rgb(131 134 135);

  .image {
    width: 90%;
    height: 80%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 50%;
    margin-top: -25px;
    background-color: #f56653;

    div {
      height: 100%;
      border: 1px solid #000;
      border-radius: 50%;
      color: #000;
      text-align: center;
    }
  }

  .text {
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    padding: 5px;
    background-color: grey;

    p {
      height: 100%;
      border: 1px solid saddlebrown;
      color: #000;
      text-align: center;
    }
  }

  /**
  ############################################
  ribbon source: https://css-generators.com/ribbon-shapes/
  ############################################
*/
  .name {
    position: absolute;
    z-index: 0;
    top: 40%;
    display: grid;
    width: fit-content;
    padding: 1.3em; /* you may need to adjust this based on your content */
    aspect-ratio: 1;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    place-content: center;
    text-align: center;

    --c: #DFBA69;

    /* control the ribbon shape (adjust each variable to understand what it does) */
    --a: 56deg;
    --r: 6deg;
    --s: 1.6em;
  }

  .name::before {
    position: absolute;
    z-index: -1;
    border: var(--s) solid color-mix(in srgb, green, #000 35%);
    border-radius: 999px 999px 0 0;
    border-bottom: none;
    aspect-ratio: 2;
    clip-path: polygon(
                    100% 0,
                    calc(50% + 50% * cos(var(--a))) calc(100% - 100% * sin(var(--a))),
                    calc(50% + (50% - var(--s) / 2) * cos(var(--a) + var(--r))) calc(100% - (100% - var(--s) / 2) * sin(var(--a) + var(--r))),
                    calc(50% + (50% - var(--s)) * cos(var(--a))) calc(100% - (100% - var(--s)) * sin(var(--a))),
                    50% 100%,
                    calc(50% - (50% - var(--s)) * cos(var(--a))) calc(100% - (100% - var(--s)) * sin(var(--a))),
                    calc(50% - (50% - var(--s) / 2) * cos(var(--a) + var(--r))) calc(100% - (100% - var(--s) / 2) * sin(var(--a) + var(--r))),
                    calc(50% - 50% * cos(var(--a))) calc(100% - 100% * sin(var(--a))),
                    0 0
    );
    content: "";
    inset: calc(50% - var(--s)/2) -150% auto; /* you can also adjust the 150% to control the shape */
  }

   /**
  ############################################
  status elements
  ############################################
   */
  .cost {
    position: absolute;
    top: -15px;
    left: -11.8px;
    width: 25px;
    height: 50px;
    background-color: rgb(1 65 255);

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -11.8px;
      height: 0;
      border-top: 25px solid transparent;
      border-right: 12.5px solid rgb(1 65 255);
      border-bottom: 25px solid transparent;
      content: '';
    }

    &::after {
      position: absolute;
      top: 0;
      right: -12px;
      bottom: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 12px solid rgb(1 65 255);
      content: '';
    }
  }

  .rarity {
    position: absolute;
    top: 0;
    right: -11.8px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top: 50px solid rgb(89 101 134);

    &::before {
      position: absolute;
      right: -24px;
      bottom: 49px;
      border: 25px solid transparent;
      border-bottom: 25px solid rgb(89 101 134);
      content: '';
    }
  }

  .attack {
    position: absolute;
    bottom: -15px;
    left: -11.8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5ce53;
  }

  .health {
    position: absolute;
    right: -11.8px;
    bottom: -15px;
    width: 45px;
    height: 50px;
    border-radius: 50%;
    background-color: #f56653;

    &::after {
      position: absolute;
      top: -25px;
      left: 0;
      border-right: 22.5px solid transparent;
      border-bottom: 45px solid #f56653;
      border-left: 22.5px solid transparent;
      content: '';
    }
  }
}

